body {
    margin: 0 auto;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #F0EFF2;

    width: 100%;
    max-width: 1512px;
    min-width: 1400px;
}

.header {
    width: 100%;
    max-width: 1512px;
    min-width: 1400px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #000;
    color: #fff;

    height: 80px;
    padding: 0 35px;
    box-sizing: border-box;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header-right a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

.logout-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    padding: 0;
}

main {
    width: 100%;
    max-width: 1512px;
    min-width: 1400px;

    margin: 0 auto;
    padding: 40px 0;
    box-sizing: border-box;
}
