body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #fff;
    margin: 0 auto;
    padding: 0;

    width: 100%;
    max-width: 1512px;
    min-width: 1400px;

    min-height: 100vh;
}

.auth-header {
    width: 100%;
    max-width: 1512px;
    min-width: 1400px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #000;
    color: #fff;

    height: 80px;
    padding: 0 35px;
    box-sizing: border-box;

}


.auth-main {
    width: 100%;
    max-width: 1512px;
    min-width: 1400px;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: calc(100vh - 80px);
}
