body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

.auth-header {
    background-color: #000;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.auth-header__logo img {
    height: 30px;
}

.auth-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
}
