.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form {
    width: 680px;
    margin-top: 35px;
}

.login-title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #000;

    margin-bottom: 60px;
}

.form-group {
    margin-bottom: 40px;
}

.form-group__label label{
    display: block;

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #000;

    margin-bottom: 8px;
}

.form-group__input input{
    width: 100%;
    height: 60px;

    border: 1px solid #000;
    border-radius: 4px;

    padding: 18px;
    font-size: 20px;
    box-sizing: border-box;
}

.form-group__error {
    margin-top: 8px;
}

.error-message {
    color: red;
    font-size: 20px;
}

.login-btn {
    margin-top: 24px;
}

.btn-name {
    width: 100%;
    height: 60px;

    background-color: #000;
    border-radius: 5px;
    border: none;

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #fff;

    cursor: pointer;
}

.link-btn {
    margin-top: 24px;
}

.register-link a {
    font-size: 24px;
    color: #007BFF;
    text-decoration: none;
    margin-left: 250px;
}


