.register-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form {
    width: 688px;
    margin-top: 35px;
}

.register-title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 44px;
    text-align: center;
    color: #000;

    margin-bottom: 40px;
}

.form-group {
    margin-bottom: 24px;
}

.form-group__label {
    margin-bottom: 8px;
}

.label-name {
    display: block;

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: #000;
}

.form-group__input {
    margin-bottom: 6px;
}

.input-space {
    width: 100%;
    height: 40px;

    border: 1px solid #000;
    border-radius: 4px;

    padding: 8px;
    font-size: 14px;
    box-sizing: border-box;
}

.form-group__error {
    min-height: 8px;
}

.error,
.error-message {
    font-size: 12px;
    color: red;
}

.btn-register {
    width: 100%;
    height: 40px;

    margin-top: 22px;

    background-color: #000;
    border: none;
    border-radius: 4px;

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #fff;

    cursor: pointer;
}

.login-link {
    margin-top: 24px;
    margin-left: 280px;
}

.login-link a {
    font-size: 18px;
    color: #007BFF;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
