.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-container form {
    margin-top: 35px;
    width: 680px;
}

.login-title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;

    text-align: center;
    color: #000;

    margin-bottom: 60px;
}

.form-group {
    margin-bottom: 48px;
}

.form-group label {
    display: block;

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;

    color: #000;
    margin-bottom: 8px;
}

.form-group input {
    width: 100%;
    height: 60px;

    border: 1px solid #000;
    border-radius: 4px;

    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.btn-login {
    margin-top: 24px;
}

.btn-name {
    width: 100%;
    height: 60px;

    background-color: #000;
    border-radius: 5px;
    border: none;

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;

    color: #fff;
    cursor: pointer;
}

.error-message{
    margin-top: 8px;
    color: red;
    font-size: 15px;
}
