.attendance-container {
    text-align: center;
    margin-top: 80px;
    background-color: #F0EFF2;
}

.status-label span {
    background: #b9b7b7de;
    border-radius: 20px;
    padding: 6px 16px;
    font-size: 14px;
    color: #6c6b6b;
    font-weight: bold;
}

.date {
    margin-top: 30px;
    font-size: 20px;
    color: #2a2828;
}

.time {
    margin-top: 10px;
    font-size: 64px;
    font-weight: bold;
    color: #000;
}

.button-group {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 45px;
}

.btn {
    border: none;
    border-radius: 15px;
    padding: 12px 55px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.btn-start {
    background-color: #000;
    color: #fff;
}

.btn-leave {
    background-color: #000;
    color: #fff;
    
}

.btn-break,
.btn-break-return {
    background-color: #fff;
    color: #000;
}

.message {
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
    color: #000;
}
