.attendance-list {
    width: 100%;
    max-width: 1512px;
    min-width: 1400px;

    margin: 0 auto;
    padding-top: 40px;
    box-sizing: border-box;
    }

.title-box {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.page-title{
    font-size: 20px;
    font-weight: bold;

    margin-bottom: 24px;
    padding-left: 12px;
    border-left: 4px solid #000;
}

.month-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    background-color: #fff;
    border-radius: 6px;

    padding: 12px 20px;
    margin-bottom: 24px;
    box-sizing: border-box;
}

.prev-month,
.next-month {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}


.month-form {
    position: relative;
    display: inline-block;
}

.month-input {
    font-size: 14px;
    font-weight: bold;

    padding: 4px 28px 4px 8px;
    border: none;
    background: transparent;

    cursor: pointer;
}

.month-input::-webkit-calendar-picker-indicator {
    opacity: 1;
    cursor: pointer;
}

.month-input:focus {
    outline: none;
}

.attendance-table {
    width: 100%;
    max-width: 900px;
    border-collapse: collapse;

    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    margin: 0 auto;

    }

.attendance-table th {
    padding: 14px 8px;
    font-size: 13px;
    font-weight: bold;
    color: #666;

    text-align: center;
    border-bottom: 1px solid #e0e0e0;
}

.attendance-table td {
    padding: 14px 8px;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    color: #666;
    border-bottom: 1px solid #eaeaea;
}

.attendance-table tbody tr:last-child td {
    border-bottom: none;
}

.detail-link {
    font-size: 13px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

